notebook
pandas
openpyxl
langchain-community
langchain-core 
ollama 
langchain_ollama
langchain_experimental
langchain_neo4j
tabulate
python-dotenv
spotipy
scikit-llm 
scikit-ollama
thefuzz 
python-Levenshtein
recordlinkage
scikit-learn 
plotly 
yellowbrick
neo4j-runway 
graphviz
matplotlib 
seaborn
